:root {
  --dark-color: #111;
  --grey-burger-menu-color: #999;
  --pink-color: #ff3998;
  --hero-paragraph-dark-color: #555;
  --orange-color: #ff8139;
  --h5-style-color: #777;
  --showcase-background-color: #eee;
  --footer-upsell-border-color: #eee;
  --footer-black-color: #555;
}
