a {
  display: block;
  text-decoration: none;
}

h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.1875rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: var(--pink-color);
}

h1 {
  font-weight: 900;
  font-size: 3rem;
  line-height: 3.625rem;
  color: var(--dark-color);
}

button {
  padding: 1.375rem 3.5rem;
  line-height: 1.875rem;
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--dark-color);
  border-radius: 3.125rem;
  border: solid 3px transparent;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(101deg, rgba(255, 57, 152, 1), #ff3939, #ff8139, #39ffa0);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #fff inset;
}

button:hover {
  box-shadow: none;
  color: white;
}

h2 {
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 3rem;
  color: var(--dark-color);
}

p {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 150%;
}

h4 {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 100%;
  color: var(--dark-color);
  margin: 0;
}

.box-info-description-h4-style {
  font-size: 1.125rem;
  font-weight: 400;
  color: var(--h5-style-color);
}

h5 {
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 100%;
  color: var(--orange-color);
  text-transform: uppercase;
  margin: 0;
}

.box-info-price-h5-style {
  color: var(--h5-style-color);
}
